body
{
    background-image: repeating-radial-gradient(rgb(255, 0, 81), rgb(0, 0, 0) 10%, rgb(187, 0, 255) 15%);
    
}

h1
{
    background-color: aqua;
    color: black;
    font-weight: bolder;
    font-family: cursive;
}

#show_sketch
{
    float: right;
}

p
{
    font-size: 30px;
    padding: 15px;
    color: aqua;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 37px white;
}


